{% extends 'base.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">An error occurred!</h4>
                <p>{{ error }}</p>
                <hr>
                <div class="debug-info">
                    <h5>Debug Information:</h5>
                    <pre class="bg-light p-3 mt-2">
Route: {{ request.path }}
Method: {{ request.method }}
Error Type: {{ error_type }}
Error Details: {{ error_details }}
Stack Trace:
{{ stack_trace }}
                    </pre>
                </div>
                <hr>
                <p class="mb-0">
                    <a href="{{ url_for('index') }}" class="alert-link">Return to home page</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
